<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
		<!-- <link rel='stylesheet' href='/css/style.css' /> -->
	</head>
	<body>
		{{{body}}}
		<script type="text/javascript" src="/js/app.min.js"></script>
	</body>
</html>
